@keyframes move { 
  0% {left: 0%;  opacity: 0; }
  70% { left: 70%; opacity: 1 }
  100% {left: 100%;opacity: 0;}
}    
.move{
  -webkit-animation-name:move;
  animation-name:move;
}
.ar-animated{
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
  -webkit-animation-fill-mode:both;animation-fill-mode:both;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
}
.ar-delay-1s{animation-delay:0.1s;}
.ar-delay-2s{animation-delay:0.2s;}
.ar-delay-3s{animation-delay:0.3s;}
.ar-delay-4s{animation-delay:0.4s;}
.ar-delay-5s{animation-delay:0.5s;}
.ar-delay-6s{animation-delay:0.6s;}
.ar-delay-7s{animation-delay:0.7s;}
.ar-delay-8s{animation-delay:0.8s;}
.ar-delay-9s{animation-delay:0.9s;}
.ar-delay-10s{animation-delay:0.10s;}
.arrows {
  white-space: nowrap;
}
.arrows i.icon{
  font-size: 1.5rem;
}

.up.arrows {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 3.5em;
  flex-wrap: wrap;
}

#queues .ui.progress>.label {
  width: unset;
}

#finish-label {
  width: 100%;
  text-align: right;
}

#finish-label.disabled {
  color: rgba(136, 136, 136, 0.5);
}

.queue:not(.disabled) .arrow1 {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}
.queue:not(.disabled) .arrow2 {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0.1;
    top: 1.4em;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 2.3em;
    opacity: 0.1;
  }
}

@keyframes arrow-movement {
  0% {
    top: 1.4em;
    opacity: 0.1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 2.3em;
    opacity: 0.1;
  }
}*/
