body {
  width: 100%;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "sidebar nav"
    "sidebar stuff";
}

/* --- grid layout --- */
#gminer-header {
  width: 100%;
  text-align: center;
}

#header h1 
{
  font-size: 50px;
  margin-top: 30px;
  margin-left: 10px;
}

#config {
  margin: 30px 20px 0px 20px;
  grid-area: nav;
}

#content {
  grid-area: stuff;
}

#side {
  grid-area: sidebar;
  background-color: #404040;
}

/* --- nav --- */
#param-modal .field {
  width: 150px;
  overflow: visible;
}
/* --- stuff --- */
#content>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  min-height: 400px;
}

#content .divider {
  width: 97%;
  margin: auto;
}

#visual,#console {
  width: 48%;
  margin: 0.5%;
  min-width: 400px;
  text-align: center;
}
#visual>p,#console>p{
  overflow: scroll;
  height: 100%;
  width: 100%;
}
/* --- side --- */
#queues {
  width: 95%;
  margin: auto;
}
