body {
  font-size: 16px;
  overflow: scroll;
}
.ui.form .field>label {
  font-size: 1rem;
  font-weight: normal;
}
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "sidebar main"
}

/* --- grid layout --- */
#main-body {
  grid-area: main;
  height: 100%;
}

#config {
  padding: 30px 20px 0px 20px;
}

#side {
  grid-area: sidebar;
  background-color: #EFEFEF;
}

/* --- nav --- */
#param-modal .field {
  width: 150px;
  overflow: visible;
}
/* --- stuff --- */
#content>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  min-height: 400px;
}

#content .divider {
  width: 97%;
  margin: auto;
}

#visual,#console {
  width: 48%;
  margin: 0.5%;
  text-align: center;
  height: 45%;
}
#console>p{
  overflow: scroll;
  width: 100%;
  text-align: left;
  font-size: 8px;
}

#console>p::-webkit-scrollbar {
  display: none;
}

/* --- side --- */
#gminer-header {
  width: 100%;
  text-align: center;
}

#queues {
  width: 90%;
  margin: auto;
}

#queues .label {
  color: #767676 !important;
}

