#chartView {
  position: relative;
  top: 50px;
}
.g2-legend {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #595959 !important;
    font-size: 12px;
}

.g2-legend-title {
    color: #5a5a5a;
}

.g2-legend-list {
    margin-top: 10px !important
}


.g2-legend-list-item {
    height: 30px;
    margin: 3px;
    display: inline;
}

.legend-item-marker {
    width: 18px;
    height: 18px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: white;
    float: left;
    opacity: 0.7;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

.legend-item-marker:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.legend-item-name {
    height: 100%;
    float: left;
    margin-left: 4px;
    color: #595959;
    text-align: left;
}

.legend-item-name:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.legend-item-percent {
    min-width: 30px;
    height: 100%;
    float: left;
    margin-left: 4px;
    color: #595959;
    text-align: left;
}

.legend-item-percent:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
}

div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
