# Add any directories, files, or patterns you don't want to be tracked by version control
web/backend-log
/release/
/logs/
/build/
__pycache__/
/auto-test.sh
/*.sh
/*machines.cfg
/*signal*
/*.ini
/*.log
web/runtime-infos
machines.cfg
tmp/
/script/.*
./web/machines.cfg
