<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible"content="ie=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./semantic/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dataVis.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <title>GMiner playgroud</title>
  </head>
  <body>
    <div id="side" class="ui left vertical inverted sidebar labeled icon menu visible">
      <a class="item" id='configOpen'>
        <i class="settings icon"></i>
        Config
      </a>
      <a class="item" id='run'>
        <i class="outline circle icon"></i>
        Run
      </a>
      <a class="item" id='stop'>
        <i class="pause outline circle icon"></i>
        Stop
      </a>
      <div style="flex-grow: 1;"></div>
      
      <a class="item" id='aboutOpen'>
        <i class="info circle icon"></i>
        About
      </a>
      <a class="item" href="http://www.cse.cuhk.edu.hk/~jcheng/papers/gminer_eurosys18.pdf" target="_blank">
        <i class="file outline icon"></i>
        Paper
      </a>
      <a class="item" id='compareOpen'>
        <i class="balance scale icon"></i>
        Compare
      </a>
      <a class="item" id='teamOpen'>
        <i class="users icon"></i>
        Team
      </a>
    </div>
    <div id="main-page">
      <div id="gminer-header" class="ui grey header">
        <h1>GMiner</h1>
      </div>
      <div id="main-grid">
        <div id="content" class="block">
          <div class="ui top attached menu">
            <a class="active item">
              Visualization
            </a>
            <a class="item">
              Console
            </a>
          </div>
          <div class="ui attached segment" id="console">
          </div>
        </div>
        <div id="graph-col" >
          <div id="queues" class="block">
          </div>
          <div id="timeline" class="block">
            <div id="chartView"></div>
          </div>
        </div>
      </div>
    </div>
    <div class='ui modal' id='aboutModal'>
      <i class="close icon"></i>
      <div class='header'>About</div>
      <div class='content'>
        <p>G-Miner is a general distributed system aimed at graph mining over large-scale graphs.</p>
        <p style="text-align:justify;"> <!-- 两端对齐 -->
          Graph mining is one of the most important areas in data mining. 
          However, scalable solutions for graph mining are still lacking as existing studies focus on sequential algorithms. 
          While many distributed graph processing systems have been proposed in recent years, most of them were designed to 
          parallelize computations such as PageRank and Breadth-First Search that keep states on individual vertices and 
          propagate updates along edges. Graph mining, on the other hand, may generate many subgraphs whose number can far 
          exceed the number of vertices. This inevitably leads to much higher computational and space complexity rendering 
          existing graph systems inefficient. We propose G-Miner, a distributed system with a new architecture designed for 
          general graph mining. G-Miner adopts a unified programming framework for implementing a wide range of graph mining 
          algorithms. We model subgraph processing as independent tasks, and design a novel task pipeline to streamline task 
          processing for better CPU, network and I/O utilization.
        </p>
      </div>
    </div>
    <div class='ui modal' id='configModal'>
      <div class='header'>Config</div>
      <div id="config" class="content">
        <form class="ui form">
          <div class="two fields">
            <div class="field" id="sysConfig">
              <h4 class="ui dividing header"> System Configuration </h4>
              <div class="three fields">
                {% for param in sysconfigs0 %}
                  <div class="field popup" data-content="{{ param['help'] }}">
                    <label for="{{ param['name'] }}">{{ param['name'] }}</label>
                    <input type="text" placeholder="{{ param['default'] }}" id="{{ param['name'] }}" name="{{ param['name'] }}">
                  </div>
                {% endfor %}
              </div>
              <div class="three fields">
                {% for param in sysconfigs1 %}
                  <div class="field popup" data-content="{{ param['help'] }}">
                    <label for="{{ param['name'] }}">{{ param['name'] }}</label>
                    <input type="text" placeholder="{{ param['default'] }}" id="{{ param['name'] }}" name="{{ param['name'] }}">
                  </div>
                {% endfor %}
                <div class="field">
                  <div class="ui checkbox" style="padding-top: 25%">
                    <input type="checkbox" tabindex="0" class="hidden" id="ib" name="ib" value="ib">
                    <label for="ib">Infiniband</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="field" id="appConfig">
              <h4 class="ui dividing header"> Application Configuration </h4>
              <div class="two fields">
                <div class="field">
                  <label for="apps">Application</label>
                  <select class="ui dropdown" name="apps" id="apps">
                    <option value=""></option>
                    {% for item in apps %}
                      {% for k, v in item.items() %}
                        <option value="{{ k }}"> {{ v["name"] }} </option>
                      {% endfor %}
                    {% endfor %}
                  </select>
                </div>
                <div class="field">
                  <label for="dataset">Dataset</label>
                  <select class="ui dropdown" name="dataset" id="dataset">
                    <option value=""></option>
                    {% for item in datasets %}
                      <option value="{{ item }}"> {{ item }} </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="ui error message"></div>
        </form>
      </div -->
      </div>
    </div>
    <div class='ui basic modal' id='compareModal'>
      <div class='slider'>
        {% for image in slideimages %}
        <div class='slider-item image'>
          <img data-lazy="{{ url_for('static', filename='images/{}.svg'.format(image)) }}" alt="loading...">
        </div>
        {% endfor %}
      </div>
    </div>
    <div class='ui longer modal' id='teamModal'>
      <div class="ui two column divided grid">
        {% for row in teammembers %}
        <div class="row">
          {% for person in row %}
          <div class="column">
            <div style="float:left; margin-right: 1rem">
              <img src="{{ url_for('static',filename='images/{}'.format(person['img'])) }}" height="128" width="128">
            </div>
            <p>
              <span class="personName">{{ person['name'] }}</span>
              <br>
              <span>{{ person['info'] }}</span>
            </p>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{{ url_for('static', filename='./semantic/semantic.min.js') }}"></script>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.4.1/dist/g2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='validate_form.js') }}"></script>
    <script src="{{ url_for('static', filename='cpumonitor.js') }}"></script>
  </body>
</html>
